*
{
    margin:0 auto;
    padding :0;
}
.divh1
{
    color:rgb(231, 85, 18);
    background-color: rgba(112, 11, 227, 0.599);
  
}
.h11
{
      margin-left: 450px;

      color:rgb(231, 85, 18);
    /* background-color: rgba(112, 11, 227, 0.599); */
}
.h12
{
      /* margin-left: 450px; */

      color:rgb(231, 85, 18);
    /* background-color: rgba(112, 11, 227, 0.599); */
}
.div
{
    width:600px;
    height:400px;
    background-color: rgb(224, 127, 9);
border-radius: 10px;
}
.h2
{
    color:red;
}